* {
  font-family: "Action NBA Cond Web Bold"
}


body {
  background-image: url("assets/hardwood-court.jpg");
}

@font-face {
  font-family: "Action NBA Cond Web Bold";
  src: url("assets/@font-face/932af5610ca96d552bb927d95149acad.eot") format("embedded-opentype"),
  url("assets/@font-face/932af5610ca96d552bb927d95149acad.woff2") format("woff2"),
  url("assets/@font-face/932af5610ca96d552bb927d95149acad.woff") format("woff"),
  url("assets/@font-face/932af5610ca96d552bb927d95149acad.ttf") format("truetype"),
  url("assets/@font-face/932af5610ca96d552bb927d95149acad.svg") format("svg");z
}

.hidden {
  display: none;
}


@media screen and (max-width: 1024px){
  .header-container {
  display: flex;
  }

  .header {
  font-size: 60pt;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  }
  .header-blurb{
    justify-content: center;
    text-align: center;
  }

  .header-photo {
  display: flex;
  height: 5rem;
  width: 2.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  }
  .text {
  font-size: 36pt;
  }
  .team-and-shoe {
    display: flex;
  }
  .team-and-text {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 50%
  }
  .shoe-container {
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .team-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  }
  .nba-players {
    width: 15%;
    height: 33%;
  }
  #team-logo {
    height: 7.5rem;
    width: 7.5rem;
  }

  .sneaker-img {
    width: 10rem;
    height: 7.5rem;
  }
  .sneaker-text {
    font-size: 24pt;
  }

  .sneaker {
    padding: 1.5rem;
    width: 13%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  }

  .return,
  .reroll {
  flex-direction: column;
  object-fit: contain;
  }

  .return-container,
  .reroll-container {
  display: flex;
  border: 2px solid black;
  border-radius: .25rem;
  margin: 1rem;
  }

  .reroll-container {
    margin-top: -.5rem;
  }

  .return,
  .reroll {
  width: 15%;
  height: 15%;
  padding-top: .75rem;
  }

  .return-blurb,
  .reroll-blurb {
  font-size: 28pt;
  padding-left: 1.5rem;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  }


  #nba-button {
  width: 7%;
  height: 20%;
  }

  .nba-button-container {
  display: flex;
  justify-content: center;
  }

  .blurb-container {
  display: flex;
  justify-content: center;
  }

  .button-blurb{
    justify-content: center;
    font-size: 36pt;
    margin-top: 1rem;
  }

  #nba-button:active,
  .reroll-container:active,
  .return-container:active {
  transform: translateY(4px);
  }
}

@media (max-width: 768px) {
  .header-container {
  display: flex;
  }

  .header {
  font-size: 60pt;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  }
  .header-blurb{
    justify-content: center;
    text-align: center;
  }

  .header-photo {
  display: flex;
  height: 5rem;
  width: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  }
  .text {
  font-size: 24pt;
  }
  .team-and-shoe {
    display: flex;
  }
  .team-and-text {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 50%
  }
  .shoe-container {
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .team-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .image-container {
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
  }
  .nba-players {
    width: 33%;
    height: 33%;
  }
  #team-logo {
    height: 7.5rem;
    width: 7.5rem;
  }

  .sneaker-img {
    width: 10rem;
    height: 7.5rem;
  }
  .sneaker-text {
    font-size: 24pt;
  }

  .sneaker {
    padding: 1.5rem;
    width: 33%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  }

  .return,
  .reroll {
  flex-direction: column;
  object-fit: contain;
  }

  .return-container,
  .reroll-container {
  display: flex;
  border: 2px solid black;
  border-radius: .25rem;
  margin: 1rem;
  }

  .reroll-container {
    margin-top: -.5rem;
  }

  .return,
  .reroll {
  width: 15%;
  height: 15%;
  padding-top: .75rem;
  }

  .return-blurb,
  .reroll-blurb {
  font-size: 28pt;
  padding-left: 1.5rem;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  }


  #nba-button {
  width: 20%;
  height: 20%;
  }

  .nba-button-container {
  display: flex;
  justify-content: center;
  }

  .blurb-container {
  display: flex;
  justify-content: center;
  }

  .button-blurb{
    justify-content: center;
    font-size: 24pt;
    margin-top: 1rem;
  }

  #nba-button:active,
  .reroll-container:active,
  .return-container:active {
  transform: translateY(4px);
  }
}
@media (max-width: 667px) {
  .header-container {
  display: flex;
  padding-left: .5rem;
  padding-right: .5rem;
  }

  .header {
  font-size: 42pt;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  }
  .header-blurb{
    justify-content: center;
    text-align: center;
  }
  .blurb-container {
    margin-top: -1rem;
  }

  .header-photo {
  display: flex;
  height: 5rem;
  width: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  }
  .text {
  font-size: 24pt;
  }
  .we-can-help {
    margin-top: -1.5rem;
  }
  .team-and-shoe {
    display: flex;
  }
  .team-and-text {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 50%
  }
  .shoe-container {
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .team-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  }
  .nba-players {
    width: 15%;
    height: 15%;
  }
  #team-logo {
    height: 7.5rem;
    width: 7.5rem;
  }

  .sneaker-img {
    width: 10rem;
    height: 7.5rem;
  }
  .sneaker-text {
    font-size: 24pt;
  }

  .sneaker {
    padding: 1.5rem;
    width: 10%;
    margin-top: -1rem;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  }

  .return,
  .reroll {
  flex-direction: column;
  object-fit: contain;
  }

  .return-container,
  .reroll-container {
  display: flex;
  border: 2px solid black;
  border-radius: .25rem;
  margin: 1rem;
  }

  .reroll-container {
    margin-top: -.5rem;
  }

  .return,
  .reroll {
  width: 15%;
  height: 15%;
  padding-top: .75rem;
  }

  .return-blurb,
  .reroll-blurb {
  font-size: 28pt;
  padding-left: 1.5rem;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  }


  #nba-button {
  width: 5%;
  height: 20%;
  }

  .nba-button-container {
  display: flex;
  justify-content: center;
  margin-top:-1rem;
  }

  .blurb-container {
  display: flex;
  justify-content: center;
  font-size: 12pt;
  }

  #nba-button:active,
  .reroll-container:active,
  .return-container:active {
  transform: translateY(4px);
  }
}
@media (max-width: 375px) {
  .header-container {
  display: flex;
  }

  .header {
  font-size: 60pt;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  }
  .header-blurb{
    justify-content: center;
    text-align: center;
  }

  .we-can-help{
    margin-top: 2rem;
  }

  .header-photo {
  display: flex;
  height: 5rem;
  width: 2.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  }
  .text {
  font-size: 24pt;
  }
  .team-and-shoe {
    display: flex;
  }
  .team-and-text {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 50%
  }
  .shoe-container {
    flex: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .team-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .image-container {
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
  }
  .nba-players {
    width: 33%;
    height: 33%;
  }
  #team-logo {
    height: 7.5rem;
    width: 7.5rem;
  }

  .sneaker-img {
    width: 10rem;
    height: 7.5rem;
  }
  .sneaker-text {
    font-size: 24pt;
  }

  .sneaker {
    padding: 1.5rem;
    width: 33%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  }

  .return,
  .reroll {
  flex-direction: column;
  object-fit: contain;
  }

  .return-container,
  .reroll-container {
  display: flex;
  border: 2px solid black;
  border-radius: .25rem;
  margin: 1rem;
  }

  .reroll-container {
    margin-top: -.5rem;
  }

  .return,
  .reroll {
  width: 15%;
  height: 15%;
  padding-top: .75rem;
  }

  .return-blurb,
  .reroll-blurb {
  font-size: 28pt;
  padding-left: 1.5rem;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  }


  #nba-button {
  width: 20%;
  height: 20%;
  }

  .nba-button-container {
  display: flex;
  justify-content: center;
  }

  .blurb-container {
  display: flex;
  justify-content: center;
  }

  .button-blurb{
    justify-content: center;
    font-size: 24pt;
    margin-top: 1rem;
  }

  #nba-button:active,
  .reroll-container:active,
  .return-container:active {
  transform: translateY(4px);
  }
}
